




<!------>
        <div class=" content">
          <div class=" row">
            <div class=" col-12">

              <div class=" card card-chart pb-3">
                <div class=" card-header">
                  <div class=" row">
                    <div class=" col-sm-6 text-left">
                      <h2 class=" card-title" style="color:#A3FF01"><strong>HACKADEMY</strong></h2>
                    
                      <h5 class=" card-category">CYBER RANGE</h5>
                      <h5 class=" card-category">VULNERABLE MACHINE DEVELOPMENT FOR CYBER DRILLS </h5>

                    </div>

                  </div>
                </div>
        <div class=" card-header">
          HACKADEMY is a Django/NoSQL web application that is damn vulnerable. Its main goal is to be an aid for security professionals to test their skills
          and tools in a legal environment, help web developers better understand the processes of securing web applications and to aid both students and
          teachers to learn about web application security in a controlled class room environment.
          <br/>
          The aim of HACKADMY is to practice some of the most common web vulnerabilities, with various levels of difficultly, with a simple straightforward interface.
        </div>

      </div>
    </div>
  </div>
  <!-- ************************************************8-->
  <div class=" row">
    <div class=" col-12">

      <div class=" card card-chart pb-3">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">

              <h2 class=" card-title" style="color:#A3FF01">GENERAL INSTRUCTIONS </h2>

            </div>

          </div>
        </div>
        <div class=" card-header text-left ">
          It is up to the user how they approach DVWA. Either by working through every module at a fixed level, or selecting any
          module and working up to <br/> reach the highest level they can before moving onto the next one.
          There is not a fixed object to complete a module; however users
          should feel that they have successfully exploited the system as best as they possible could by using that
          particular vulnerability.
          <br/><br/>

          Please note, there are both documented and undocumented vulnerability with this software.
          This is intentional. You are encouraged to try and discover as many issues as possible.
          <br/><br/>
          DVWA also includes a Web Application Firewall (WAF), PHPIDS, which can be enabled at any stage to further increase
          the difficulty. This will demonstrate how adding another layer of security may block certain malicious actions. Note,
          there are also various public methods at bypassing these protections (so this can be seen as an extension for more
          advanced users)!

          There is a help button at the bottom of each page, which allows you to view hints & tips for that vulnerability.
          There are also additional links for further background reading, which relates to that security issue.
        </div>

      </div>
    </div>
  </div>
  <!-- ************************************************8-->
<!-- Warning-->
  <div class=" row">
    <div class=" col-12">

      <div class=" card card-chart ">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title" style="color: red;font-weight:bold">WARNING </h2>

            </div>

          </div>
        </div>
        <div class="blockquote blockquote-danger">
          <p>HACKADEMY Vulnerable Web Application is damn vulnerable! Do not upload it to your hosting provider's public html
          folder or any Internet facing servers, as they will be compromised. It is recommend using a virtual machine
          (such as VirtualBox or VMware), which is set to NAT networking mode. Inside a guest machine,
          you can downloading and install XAMPP for the web server and database.
          </p>
        </div>

      </div>
    </div>
  </div>
  <!--Warning Ends-->

  <!-- Disclaimer-->
  <!-- Warning-->
  <div class=" row">
    <div class=" col-12">

      <div class=" card card-chart pb-3">
        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-6 text-left">
              <h2 class=" card-title" style="color:#A3FF01">DISCLAIMER</h2>

            </div>

          </div>
        </div>
        <div class=" card-header text-left ">
          <p>We do not take responsibility for the way in which any one uses this application (HACKADMY).
            We have made the purposes of the application clear and it should not be used maliciously.
            We have given warnings and taken measures to prevent users from installing HACKADMY on to live web servers.
            If your web server is compromised via an installation of HACKADMY
            it is not our responsibility it is the responsibility of the person/s who uploaded and installed it
          </p>
        </div>

      </div>
    </div>
  </div>

</div>
<!-- ************************************************8-->


<!--<div class="page__position page__par">-->





<!--  <div class="cylance-html"><div class="cylance-mod-html">-->

<!--    <style type="text/css">-->

<!--    </style>-->

<!--    <style type="text/css">-->
<!--      .aem-AuthorLayer-Edit .cylance-h8 .cylance-mod-headerh8.fullscreen, .aem-AuthorLayer-Design .cylance-h8 .cylance-mod-headerh8.fullscreen { height: 660px !important;}-->

<!--      #custom-h8-vid {position:relative;}-->
<!--      #custom-h8-vid .player_wrap{display:block; width:100%; height:100%; position:absolute; top:0px; right:0px; overflow:hidden; }-->
<!--      #custom-h8-vid .cylance-mod-headerh8 {background: transparent;}-->

<!--      #custom-h8-vid h1 {font-size:65px; line-height:65px;}-->
<!--      #custom-h8-vid .cylance-mod-headerh8__text {font-size: 18px; line-height:25px;}-->
<!--      #myVideo {position:absolute; left:0px; width:100%; height:100%;}-->
<!--    </style>-->

<!--    <div id="custom-h8-vid" class="cylance-h8">-->
<!--      <div class="player_wrap">-->
<!--        <video autoplay="" muted="" loop="" id="myVideo" data-video="0">-->
<!--          <source src="https://s7d2.scene7.com/is/content/cylance/prod/cylance-web/en-us/home/Cylance.com-AI-Loop-V4-4k-10s_loop_web.mp4" type="video/mp4">-->
<!--        </video>-->
<!--      </div>-->
<!--      <div class="cylance-mod-headerh8 content&#45;&#45;dark fullscreen" style="height: calc(100vh - 138px);">-->
<!--        <div class="cylance-mod-headerh8__contain container cylance-mod-container">-->
<!--          <div class="cylance-mod-headerh8__contain row">-->
<!--            <div class="col-md-12 col-lg-9 no-gutters cylance-mod-headerh8__main-container">-->
<!--              <div class="col-md-9">-->
<!--                &lt;!&ndash;                <h1 class="cylance-mod-headline ">Don’t Stop Breaches.&ndash;&gt;-->
<!--                &lt;!&ndash;                  <br>Prevent Them, with AI.</h1>&ndash;&gt;-->
<!--              </div>-->
<!--              &lt;!&ndash;              <div class="col-12 col-md-8">&ndash;&gt;-->
<!--              &lt;!&ndash;                <div class="cylance-mod-headerh8__text-container">&ndash;&gt;-->
<!--              &lt;!&ndash;                  <div class="cylance-mod-body-copy cylance-mod-headerh8__text no-margin-bottom">The Cylance AI Platform prevents threats before they cause harm, eliminating the noise and creating silence across your organization. With Cylance, your team can focus more and stress less.</div>&ndash;&gt;-->
<!--              &lt;!&ndash;                </div>&ndash;&gt;-->
<!--              &lt;!&ndash;              </div>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row">-->
<!--            <div class="col-12 col-sm-12">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-12 col-sm-12 cylance-mod-headerh8__scroll-button-container">-->
<!--            <button class="cylance-mod-headerh8__scroll-button" aria-label="scroll to content">-->
<!--            </button></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->





<!--    <script type="text/javascript">-->

<!--    </script>-->
<!--  </div></div>-->




<!--  <div class="cylance-html"><div class="cylance-mod-html">-->

<!--    <style type="text/css">-->

<!--    </style>-->

<!--    <style type="text/css">-->
<!--      #ai-platform-graphic-wrp {background:#0D0E12;}-->

<!--      #ai-platform-graphic {background:#0D0E12; position:relative;}-->
<!--      #ai-platform-graphic .ratio_lock {width:100%;}-->
<!--      #ai-platform-graphic .level_disc {position:absolute; border-radius: 100%; background:#0D0E12 url('/content/dam/cylance-web/en-us/home/infographic/png/outer_ring.png') center; background-size:cover;  background-repeat:no-repeat; cursor:pointer;}-->
<!--      #ai-platform-graphic .tooltip-icon {background:url('/content/dam/cylance-web/en-us/home/infographic/png/plus.png') center; background-size: contain; background-repeat:no-repeat; display:block; width:26px; height:26px; border-radius: 50%; position:absolute; bottom:20px; left:50%; margin-left:-13px;}-->
<!--      #ai-platform-graphic .tooltip-txt-box {background:#0d0e12; border: 1px solid #2eef37; color:#fff; width: 330px; margin-left:-165px; height:auto; position: absolute; display: block; left:50%; bottom:60px; opacity: 0; padding:20px 25px; font-size:13px; text-align: center;}-->
<!--      #ai-platform-graphic .tooltip-txt-box .header-txt {font-size:17px; margin-bottom:10px; display:block; font-weight:700; }-->
<!--      #ai-platform-graphic .tooltip-txt-box:after {content:""; background:url('/content/dam/cylance-web/en-us/home/infographic/png/triangle-down.png') center; display:block; background-size:contain; background-repeat:no-repeat; width:100%; height:15px; border:1px; bottom:-15px; position:absolute; right:0px; }-->

<!--      #ai-platform-graphic .level_disc .vec-text {margin: 0 auto;}-->

<!--      #ai-platform-graphic .level_disc .tooltip-icon {background-color:transparent;-->
<!--        transition: all .3s;-->
<!--        -webkit-transition: all .3s;-->
<!--      }-->
<!--      #ai-platform-graphic .level_disc.active .tooltip-icon {background-color:#ef2e2e;-->
<!--        transition: all .7s;-->
<!--        -webkit-transition: all .7s;-->
<!--      }-->
<!--      #ai-platform-graphic .level_disc .light-ring {background:url('/content/dam/cylance-web/en-us/home/infographic/png/ourter_ring_hover.png') center; background-size:100%; background-repeat:no-repeat; border-radius: 50%; display:block; width:100%; height:100%; position: absolute; opacity:0; transform: scale(.7);-->
<!--        transition: all .3s;-->
<!--        -webkit-transition: all .3s;-->
<!--      }-->
<!--      #ai-platform-graphic .level_disc.active .light-ring {opacity:1; transform: scale(1); -webkit-transform: scale(1);-->
<!--        transition: all .7s;-->
<!--        -webkit-transition: all .7s;-->
<!--      }-->
<!--      #ai-platform-graphic .level_disc .tooltip-txt-box {visibility: hidden; opacity: 0; z-index: 1;}-->
<!--      #ai-platform-graphic .level_disc.active .tooltip-txt-box { visibility: visible; opacity: 1; z-index: 10;-->
<!--        transition: all .7s;-->
<!--        -webkit-transition: all .7s;-->
<!--      }-->

<!--      #ai-platform-graphic .level_1{width:80%; height:80%; top:10%; left:10%;}-->
<!--      #ai-platform-graphic .level_1 .vec-text {width: 27%; height:100%; background:url('/content/dam/cylance-web/en-us/home/infographic/png/next_gen.png') 0 7%; background-size: contain; background-repeat:no-repeat; display: block;}-->
<!--      #ai-platform-graphic .level_2{width:60%; height:60%; top:20%; left:20%;}-->
<!--      #ai-platform-graphic .level_2 .vec-text {width: 10%; height:100%; background:url('/content/dam/cylance-web/en-us/home/infographic/png/edr.png') 0 10%; background-size: contain; background-repeat:no-repeat; display: block;}-->
<!--      #ai-platform-graphic .level_3{ width:40%; height:40%; top:30%; left:30%;}-->
<!--      #ai-platform-graphic .level_3 .vec-text {border-radius: 37%; width: 70%; height:100%; background:url('/content/dam/cylance-web/en-us/home/infographic/png/services_api_oem.png') 0 17%; background-size: contain; background-repeat:no-repeat; display: block;}-->
<!--      #ai-platform-graphic .level_4{background:url('/content/dam/cylance-web/en-us/home/infographic/png/core.png') center; background-size:90%; background-repeat:no-repeat; width:100%; height:20%; top:40%; left:40%;}-->
<!--      #ai-platform-graphic .level_4 .vec-text {width: 600%; height:100%; background:url('/content/dam/cylance-web/en-us/home/infographic/png/ai_platform.png') 0 45%; background-size: contain; background-repeat:no-repeat; display: block;}-->



<!--      @media (max-width: 767px) and (min-width: 0) {-->

<!--        #ai-platform-graphic-wrp {padding-top:65px;}-->
<!--        #ai-platform-graphic .tooltip-icon {bottom:5%;}-->

<!--      }-->

<!--    </style>-->






<!--    <script type="text/javascript">-->
<!--      // Dectect touch (is it moble?)-->
<!--      function checkTouchDevice() {-->
<!--        return 'ontouchstart' in document.documentElement;-->
<!--      }-->
<!--      // Set Value-->
<!--      if (checkTouchDevice()) {-->
<!--        var ai_platform_graphic = document.querySelector('#ai-platform-graphic');-->
<!--        window.USER_IS_TOUCHING = true;-->
<!--        ai_platform_graphic.classList.add('ismobile');-->
<!--      } else {-->
<!--        window.USER_IS_TOUCHING = false;-->
<!--      }-->

<!--      // Set variables-->
<!--      var els = document.querySelectorAll('.tooltipped');-->

<!--      if (USER_IS_TOUCHING === true){-->
<!--        // Click logic-->
<!--        for (i = 0; i < els.length; i++) {-->
<!--          els[i].addEventListener('click', function(event) {-->
<!--            console.log(event.target);-->
<!--            if (event.target.classList.contains('tooltipped')){-->
<!--              event.target.classList.toggle('active');-->
<!--              removeActive(event.target);-->
<!--            }else {-->
<!--              event.target.parentElement.classList.toggle('active');-->
<!--              removeActive(event.target.parentElement);-->
<!--            }-->
<!--          });-->
<!--        }-->
<!--      }else {-->
<!--        // Hover logic-->

<!--        for (i = 0; i < els.length; i++) {-->
<!--          els[i].addEventListener('mouseenter', function(event) {-->
<!--            console.log('mouseover '+ event.target);-->
<!--            event.target.classList.add('active');-->
<!--          });-->
<!--          els[i].addEventListener('mouseleave', function(event) {-->
<!--            event.target.classList.remove("active");-->
<!--          });-->
<!--        }-->

<!--      }-->

<!--      function removeActive(el_clicked) {-->
<!--        var els = document.querySelectorAll('.tooltipped');-->
<!--        for (i = 0; i < els.length; i++) {-->
<!--          if(el_clicked !== els[i]) {-->
<!--            els[i].classList.remove('active');-->
<!--          }-->
<!--        }-->
<!--      }-->
<!--    </script>-->




<!--  </div></div>-->
<!--</div>-->
