
<div class=" content" xmlns="http://www.w3.org/1999/html">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title">COMPLETED CHALLENGES</h5>
          <p class=" category">
            A PROJECT OF CYBER RECONNIASSIANCE AND COMBAT LAB
            <br/>
            BAHRIA UNIVERSITY ISLAMABAD
            <!-------------------------------->

            <!----------------------------->
            <a href="https://crc.bahria.edu.pk/">CRC LAB</a>
          </p>
          <div class=" card-header">
            <h6 class=" title">COMPLETED CHALLENGES IN CYBERRANGE</h6>
            <p-accordion>
              <div class="ui-g">
                <div class="ui-g-12 ui-md-6 ui-lg-9"> <p-chart type="bar" [data]="data"></p-chart>

                </div>

              </div>
              <p-accordionTab header="CHALLENGE 4"  align="justify" >
                A brute force attack is a trial-and-error method used to obtain information
                such as a user password or personal identification number (PIN). In a brute
                force attack, automated software is used to generate a large number of consecutive
                guesses as to the value of the desired data. Brute force attacks may be used by criminals
                to crack encrypted data, or by security analysts to test an organization's network
                security. A brute force attack is also known as brute force cracking or simply brute force
                <p-rating [ngModel]="5" readonly="true" stars="5" [cancel]="false"></p-rating>
                <span class="badge badge-danger">4.5</span>
                <span class="badge badge-success">Completed</span>

              </p-accordionTab>
              <p-accordionTab header="CHALLENGE 5"  align="justify">
                Command injection is an attack in which the goal is execution of arbitrary
                commands on the host operating system via a vulnerable application. Command
                injection attacks are possible when an application passes unsafe user supplied
                data (forms, cookies, HTTP headers etc.) to a system shell. In this attack, the
                attacker-supplied operating system commands are usually executed with the privileges
                of the vulnerable application. Command injection attacks are possible largely due to
                insufficient input validation.
              </p-accordionTab>
              <p-accordionTab header="CHALLENGE 6"  align="justify">
                Cross-Site Request Forgery (CSRF) is a type of attack that occurs when a malicious
                web site, email, blog, instant message, or program causes a user’s web browser to
                perform an unwanted action on a trusted site when the user is authenticated. A CSRF
                attack works because browser requests automatically include any credentials associated
                with the site, such as the user’s session cookie, IP address, etc.
              </p-accordionTab>

            </p-accordion>


          </div>
          &nbsp;
        </div></div></div></div></div>
